.button {
  padding: 18px;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  text-decoration: none;
  outline: none;
  border: none;
  cursor: pointer;
  background-color: #81b3d2;
  color: #ffffff;
}
