.find-hotel {
  text-transform: uppercase;
  font-size: 21px;
  line-height: 26px;
}

.find-hotel__title {
  font-size: 21px;
  line-height: 26px;
}

// .find-hotel__description {
// }

.find-hotel__button {
  background-color: #81b3d2;
  border: none;
  color: #fff;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
}
