// .main-navigation {
// }

.main-navigation__toggle {
  position: absolute;
  top: 17px;
  bottom: 16px;
  border: none;
  background-color: transparent;
  z-index: 4;

  @media (min-width: @tablet-width) {
    display: none;
  }
}

.main-navigation__list {
  .reset-ul-default-styles();
  min-height: 56px;
  z-index: 2;
  position: absolute;
  width: 100%;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
  }
}

.main-navigation__icon {
  fill: #ffffff;
}

.main-navigation__item {
  background-color: #81b3d2;
  padding-top: 17px;
  padding-bottom: 12px;
  text-align: center;
  box-sizing: border-box;
  box-shadow: 0 1px 0 rgba(1, 1, 1, 0.2), inset 0 1px 0 rgba(255, 255, 255, 0.2);

  &--logo {
    display: block;
    background-color: #ffffff;
    box-shadow: none;
    order: 3;
  }

  &--main {
    display: none;
    order: 1;
  }

  &--foto-and-video {
    display: none;
    order: 2;
  }

  &--form {
    display: none;
    order: 4;
  }

  &--html-academy {
    display: none;
    order: 5;
  }

  @media (min-width: @tablet-width) {
    background-color: #ffffff;
    box-shadow: none;

    &--main {
      display: block;
    }

    &--foto-and-video {
      display: block;
    }

    &--form {
      display: block;
    }

    &--html-academy {
      display: block;
    }
  }
}

.main-navigation__item-image {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1;
}

.main-navigation__link {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;

  @media (min-width: @tablet-width) {
    display: block;
    color: #000000;
    font-size: 14px;
    line-height: 21px;
  }
}
