.main-footer {
  display: flex;
  flex-direction: column;
  gap: 35px;
  align-items: center;
  padding-top: 36px;
  padding-bottom: 36px;
  background-color: #ffffff;

  @media (min-width: @tablet-width) {
    padding-left: 60px;
    padding-right: 60px;
    flex-direction: row;
    justify-content: space-between;

    .developer__image {
      width: 27px;
      height: 34px;
    }
  }

  @media (min-width: @desktop-width) {
    padding-left: 160px;
    padding-right: 160px;
    flex-direction: row;
    justify-content: space-between;
  }
}
