.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 2;

  &--closed {
    display: none;
  }

  &__wrapper {
    margin: auto;

    @media (min-width: @tablet-width) {
      position: absolute;
      width: 640px;
      top: 19%;
      transform: translateX(-50%);
      left: 50%;

      .modal-body {
        width: auto;
        padding-top: 53px;
        padding-bottom: 54px;
      }
    }
  }
}

.modal-body {
  display: grid;
  gap: 28px;
  width: 320px;
  margin: auto;
  margin-top: 116px;
  padding-top: 45px;
  padding-right: 42px;
  padding-left: 42px;
  padding-bottom: 35px;
  background-color: #ffffff;
  text-align: center;
  box-sizing: border-box;

  &__title {
    margin: 0;
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
    text-transform: uppercase;

    @media (max-width: @mobile-width-only) {
      br {
        display: none;
      }
    }
  }

  @media (min-width: @tablet-width) {
    margin-top: 283px;
    width: 400px;

    &__title {
      font-size: 30px;
      line-height: 40px;
      gap: 34px;
    }
  }

  &--success {
    margin: auto;
  }

  &__description {
    margin: 0;
    line-height: 21px;
    text-transform: uppercase;
  }

  &__button-close {
    font-size: 18px;
    height: 58px;
    width: 76%;
    margin: 0 auto;

    @media (min-width: @tablet-width) {
      width: 272px;
      font-size: 21px;
    }
  }
}

.modal-footer {
  background-color: #f2f2f2;
  padding: 20px;
  text-align: center;

  &__button-close {
    font-size: 16px;
    height: 58px;
    width: 280px;
  }

  @media (min-width: @tablet-width) {
    padding: 44px 91px;

    &__button-close {
      width: 458px;
      font-size: 21px;
    }
  }
}
