// .photo {
// }

.photo__title {
  margin: 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
}

.photo__description {
  margin: 0;
  line-height: 21px;
  text-transform: uppercase;
}

.photo__list {
  .reset-ul-default-styles();
}

// .photo__item {
// }

.photo__image-name {
  font-weight: 700;
  text-transform: uppercase;
}

.photo__like-count {
  font-weight: 700;
}
