.video {
  background-color: #ffffff;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;

  @media (min-width: @tablet-width) {
    padding-left: 60px;
    padding-right: 60px;
  }

  @media (min-width: @desktop-width) {
    padding-left: 160px;
    padding-right: 160px;
  }
}

.video__wrapper {
  display: grid;
  gap: 35px;

  padding-bottom: 28px;
  text-align: center;
  width: 90%;
  margin: 0 auto;
  order: 1;

  @media (min-width: @tablet-width) {
    width: 520px;
    padding-top: 58px;
    padding-bottom: 66px;
  }
}

.video__title {
  margin: 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    font-size: 21px;
  }
}

.video__description {
  margin: 0;
  line-height: 21px;
  text-transform: uppercase;
}

.video__image-wrapper {
  position: relative;
  height: auto;

  &::before {
    content: "";
    position: absolute;
    width: 48px;
    height: 54px;
    background-image: url("../../img/play.svg");
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
  }
}

.video__image {
  object-fit: cover;
  width: 100%;

  @media (min-width: @tablet-width) {
    height: 500px;
  }
}
